@model IndexViewModel
@{
    ViewBag.Title = "Profile";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Change your account settings</h4>
    <a asp-action="Edit" asp-controller="Account"
       asp-route-id="@Model.UserID" class="btn btn-primary">
        Modify Your Profile
    </a>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>Birthday:</dt>
        <dd>@Model.Birthday</dd>
    </dl>
    <a asp-action="ChangePassword" asp-controller="Account"
      class="btn btn-primary">
        Change Password
    </a>
</div>