@model fa21team16finalproject.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekNightPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekNightPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendNightPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekendNightPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CleaningFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiscountDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PercentDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PercentDiscount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StayTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StayTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtendedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
