@model IEnumerable<fa21team16finalproject.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <a asp-controller="Orders" asp-action="Details" class="nav-link">Proceed to Checkout</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Status)
            </td>
            <td>
                @if (item.Order.Status == Status.Pending)
                {
                    <a asp-action="Edit" asp-route-id="@item.ReservationID">Edit</a> 
                }
            <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a> 
            @if(item.Order.Status == Status.Confirmed)
            {
            <a asp-action="Delete" asp-route-id="@item.ReservationID">Cancel</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
